<!doctype html>

<html lang="en">

<head>
    <title>Basecamp: Project management software, online collaboration</title>

    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta name="handheldfriendly" content="true" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="description"
        content="Trusted by millions, Basecamp puts everything you need to get work done in one place. It’s the calm, organized way to manage projects, work with clients, and communicate company-wide." />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/auth.css">
</head>


<body data-controller="tracking engagement">

    <div class="site">

        <header class="header">

            <div class="header__container">
                <a class="header__logo" href="/">
                    <figure>
                        <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M24.1639 5.25188C15.1961 5.25188 8.4483 11.5231 4.09609 23.8146C3.65663 24.8525 2.48539 25.369 1.42268 24.9938C0.359966 24.6185 -0.227167 23.481 0.0825144 22.3974C5.09948 8.19934 13.2019 1 24.1639 1C25.1545 1 25.1545 5.25188 24.1639 5.25188Z"
                                fill="#1D2D35" />
                            <path class="card card--front"
                                d="M14.7005 50.5L0.5 15.4635L6.94391 12.7871L36.4189 0.5L50.5 35.4148L14.7005 50.5Z"
                                fill="#FFE200" />
                            <path class="card card--back"
                                d="M11.1063 48.5L3.5 10.6833L9.89895 9.31941L41.8937 2.5L49.5 40.3167L11.1063 48.5Z"
                                fill="#FFE200" />
                            <path
                                d="M24.1639 40.9978C16.6853 41.0964 9.53234 37.9432 4.56016 32.356C4.02909 31.7662 3.86962 30.9301 4.14626 30.1862C5.4883 26.574 9.16323 18.1706 13.7537 18.1455C16.0866 18.1455 17.83 20.0018 19.2348 21.4818C19.7006 21.9982 20.1991 22.4842 20.7273 22.9367C22.6984 20.4431 24.3423 17.7076 25.6189 14.7967C26.1481 13.7912 27.3729 13.3774 28.4036 13.8559C29.4342 14.3344 29.9085 15.537 29.4819 16.5902C24.465 27.3391 21.7809 27.3391 20.9029 27.3391C18.9463 27.3391 17.529 25.834 16.1619 24.3916C15.5473 23.7394 14.268 22.3848 13.7788 22.3848C12.6876 22.573 10.3171 26.3231 8.61136 30.437C12.7214 34.5639 18.3408 36.8298 24.1639 36.7082C32.5799 36.7082 38.8637 34.413 41.5728 30.437C40.6447 19.8136 34.7497 5.25188 24.1639 5.25188C23.1734 5.25188 23.1734 1 24.1639 1C38.4748 1 45.1098 19.2868 45.8749 30.8259C45.907 31.2619 45.8111 31.6978 45.5989 32.0801C42.2627 37.812 34.6494 40.9978 24.1639 40.9978Z"
                                fill="#1D2D35" />
                        </svg>
                    </figure>
                    <strong>Basecamp</strong>

                    <div class="header__tagline header__tagline--js"><span>Best app for teams</span></div>



                </a>

                <ul class="header__options">
                    <li>
                        <a class="button button--small button--text" data-controller="signup"
                            data-action="signup#trackLogin" href="/signin">Log in
                        </a>
                    </li>
                    <li><a class="button button--small" href="/signup/account/new">Sign up</a></li>
                </ul>

            </div>

        </header>

        <main class="main">

            <div class="custom">

                <div class="headline headline--tools">
                    <header>
                        <h1>Welcome to Casebamp</h1>
                    </header>
                    <article>
                        <p>
                            For Object Oriented Orogramming (OOP)
                        </p>
                    </article>
                </div>

                <div class="tools space-top--x-small">
                    <div class="tools__box">
                        <div class="tools__tool tools__tool--message-board">
                            <dl>
                                <dt>Message Board</dt>
                                <dd>Say goodbye<br /> to long email threads.</dd>
                            </dl>
                        </div>
                        <div class="tools__tool tools__tool--to-dos">
                            <dl>
                                <dt>To-dos</dt>
                                <dd>Full team visibility,<br /> task by task.</dd>
                            </dl>
                        </div>
                        <div class="tools__tool tools__tool--docs-files">
                            <dl>
                                <dt>Docs &amp; Files</dt>
                                <dd>No need to jump to another<br /> app to share files.</dd>
                            </dl>
                        </div>
                        <div class="tools__tool tools__tool--campfire">
                            <dl>
                                <dt>Campfire</dt>
                                <dd>Ditch all the #channels,<br /> chat within each project.</dd>
                            </dl>
                        </div>
                        <div class="tools__tool tools__tool--schedule">
                            <dl>
                                <dt>Schedule</dt>
                                <dd>Manage key dates, without<br /> spreadsheets or calendars.</dd>
                            </dl>
                        </div>
                        <div class="tools__tool tools__tool--card-table">
                            <dl>
                                <dt>Card Table</dt>
                                <dd>Cancel status meetings,<br /> view progress in real-time.</dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>

        </main>

    <div class="content">
            <!-- Your page content goes here -->
    </div>
</body>

<footer>
    <div class="container">
        <div class="logo">
            <img src="/static/paper-clip.svg" alt="Logo">
        </div>
        <div class="copyright">
            &copy; 2023 Casebamp
        </div>
    </div>
</footer>

</html>