<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
    <link href="/static/styles_march.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <style>
        body {
            font-family: 'Proxima Nova', sans-serif;
        }
    </style>
</head>
<body>
    <div class="nav">
        <nav id="my_navigation" class="nav__bar">
            <nav class="nav-menu nav-menu__accounts" >
                <div class="collapsible_content">
                    <a href="">
                        <img src="/imgs/basecamp2.png" width="135" height="31">
                    </a>
                </div>
            </nav>
            <div class="nav__main">
                <a class="nav__links" href="/{{organization.organization_id}}">Home</a>
                <a class="nav__links" href="/{{organization.organization_id}}/projects/lineup">Lineup</a>
                <button id="ping_btn" class="nav__links" onclick="show_form()" href="">Pings</button>
                <a class="nav__links" href="/{{organization.organization_id}}/my/readings">Hey!</a>
                <a class="nav__links" href="/{{organization.organization_id}}/activity">Activity</a>
                <button id="stuff_btn" class="nav__links" onclick="show_stuff()" href="">My Stuff</button>
                <a class="nav__links" href="">Find</a>
            </div>
            <nav class="nav-menu nav-menu__me">
                <div class="collapsible_content">
                    <button class="nav__link--me" onclick="show_account()">
                        <img src="{{account.account_avatar}}" class="avatar">
                    </button>
                </div>
            </nav>
        </nav>
    </div>
    <form id="search_ping" class="ping_form" onsubmit="" method="post">
        <div class="ping_form_container">
            <div class="ping_form_sub_container">
                <section class="ping_sheet_entering">
                    <article class="centered">
                        <section>
                            <input class="input_ping" list="members" name="receiver1" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <input class="input_ping" list="members" name="receiver2" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <input class="input_ping" list="members" name="receiver3" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <input class="input_ping" list="members" name="receiver4" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <button id="send_receiver" class="ping_em_btn create_project_btn centered btn btn-primary" type="submit" onclick="window.location.href='/{{organization.organization_id}}';">
                                Ping'em
                            </button>
                        </section>
                        <section class="ping_list">
                            <h3 class="ping_list_header">
                                <span class="header_label">All Pings</span>
                            </h3>
                            {% for chat_history in user_chats %}
                                <div>
                                    <a href="/{{organization.organization_id}}/circles/{{chat_history.thread_id}}">
                                        {% for member in chat_history.members %}
                                            {{ member.name }} 
                                        {% endfor %}
                                    </a>
                                </div>
                            {% endfor %}
                        </section>
                    </article>
                </section>
            </div>
        </div>
    </form>
    <div id="my_stuff" class="expanded_content">
        <div class="stuff_scroller">
            <section class="stuff_section">
                <ul class="unbullete">
                    <li>
                        <a class="list__action nav__my-stuff nav__my-stuff--assignments" href="/{{organization.organization_id}}/users/{{user.id}}/assignments">
                            My Assignments
                            <span>(2)</span>
                        </a>
                        <a class="list__action nav__my-stuff nav__my-stuff--schedules" href="/{{organization.organization_id}}/users/{{user.id}}/schedule">
                            My Schedule
                        </a>
                        <a class="list__action nav__my-stuff nav__my-stuff--activity" href="/{{organization.organization_id}}/users/{{user.id}}/activity">
                            My Recent Activity
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div id="my_avatar" class="expanded_avatar_content">
        <div class="nav-menu__scroller">
            <section class="nav-menu__section">
                <h3 class="flush personal_setting_label">
                    <span>Personal Settings</span>
                </h3>
                <ul class="unbullete action_ul">
                    <li>
                        <a class="list__action account_list_action" href="/{{organization.organization_id}}/my/profile">My profile (avatar, title, password, etc)</a>
                    </li>
                    <li>
                        <a class="list__action account_list_action" href="/session">Log out</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="form_sheet">
        <form id="add_project" class="adder_form" onsubmit="" method="post">
            <div class="form_container">
                <div class="form_sub_container">
                    <section class="sheet_entering">
                        <article class="left">
                            <section>
                                <h4 class="text_input_label">
                                    <label for="name">Name this project</label>
                                </h4>
                                <p class="input_bar">
                                    <textarea style="width: 400px; padding: 5px 10px;" type="text" name="name" placeholder="e.g. Office Renovation" required></textarea>
                                </p>
                            </section>
                            <section>
                                <h4 class="text_input_label">
                                    <label for="description">Add an optional description</label>
                                </h4>
                                <p class="description_input">
                                    <textarea style="height: 125px; width: 400px; padding: 5px 10px;" type="text" name="description" placeholder="e.g. Plans and scheduling for expanding the office" required></textarea>
                                </p>
                            </section>
                            <section>
                                <h4 class="text_input_label">
                                    <label for="start_date end_date">Project schedule</label>
                                </h4>
                                <p class="input_bar">
                                    <input class="date_input" style="width: 198px;" id="start_date_form" type="date" name="start_date" placeholder="Pick a date...">
                                    <input class="date_input" style="width: 198px;" id="end_date_form" type="date" name="end_date" placeholder="Pick a date...">
                                </p>
                            </section>
                            <footer class="submit_project_footer">
                                <button class="btn btn-primary create_project_btn" type="submit" onclick="window.location.href='/{{organization.organization_id}}';">
                                    Create this project
                                </button>
                                <a href="/{{organization.organization_id}}" class="btn btn-primary cancel_btn">Never mind</a>
                            </footer>
                        </article>
                    </section>
                </div>
            </div>
            
        </form>
    </div>
</body>
<script>
    var count1 = 0
    function show_form() {
        if (count1 == 0) {document.getElementById('search_ping').style.display = 'flex'; count1 += 1;}
        else {document.getElementById('search_ping').style.display = 'none'; count1 = 0;}
    }

    var count2 = 0
    function show_stuff() {
        if (count2 == 0) {document.getElementById('my_stuff').style.display = 'flex'; count2 += 1;}
        else {document.getElementById('my_stuff').style.display = 'none'; count2 = 0;}
    }

    var count3 = 0
    function show_account() {
        if (count3 == 0) {document.getElementById('my_avatar').style.display = 'flex'; count3 += 1; console.log(1);}
        else {document.getElementById('my_avatar').style.display = 'none'; count3 = 0;}
    }

    const adder_form = document.querySelector('.adder_form');

    adder_form.addEventListener('submit', (event) => {
        event.preventDefault();

        const name = adder_form.elements.name.value;
        const description = adder_form.elements.description.value;
        const start_date = adder_form.elements.start_date.value;
        const end_date = adder_form.elements.end_date.value

    fetch('/{{organization.organization_id}}/projects/add_project', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({name, description, start_date, end_date})
    })
    .then(response => response.json())
    
    .catch(error => {
    console.error(error);
    });
});
</script>
</html>