<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Everything</title>
    <link href="/static/styles_march.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/proxima-nova" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <style>
        body {
            font-family: 'Proxima Nova', sans-serif;
        }
    </style>
</head>
<body>
    <div class="nav">
        <nav id="my_navigation" class="nav__bar">
            <nav class="nav-menu nav-menu__accounts" >
                <div class="collapsible_content">
                    <a href="">
                        <img src="/imgs/basecamp2.png" width="135" height="31">
                    </a>
                </div>
            </nav>
            <div class="nav__main">
                <a class="nav__links" href="/{{organization.organization_id}}">Home</a>
                <a class="nav__links" href="/{{organization.organization_id}}/projects/lineup">Lineup</a>
                <button id="ping_btn" class="nav__links" onclick="show_form()" href="">Pings</button>
                <a class="nav__links" href="/{{organization.organization_id}}/my/readings">Hey!</a>
                <a class="nav__links" href="/{{organization.organization_id}}/activity">Activity</a>
                <button id="stuff_btn" class="nav__links" onclick="show_stuff()" href="">My Stuff</button>
                <a class="nav__links" href="">Find</a>
            </div>
            <nav class="nav-menu nav-menu__me">
                <div class="collapsible_content">
                    <button class="nav__link--me" onclick="show_account()">
                        <img src="{{account.account_avatar}}" class="avatar">
                    </button>
                </div>
            </nav>
        </nav>
    </div>
    <form id="search_ping" class="ping_form" onsubmit="" method="post">
        <div class="ping_form_container">
            <div class="ping_form_sub_container">
                <section class="ping_sheet_entering">
                    <article class="centered">
                        <section>
                            <input class="input_ping" list="members" name="receiver1" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <input class="input_ping" list="members" name="receiver2" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <input class="input_ping" list="members" name="receiver3" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <input class="input_ping" list="members" name="receiver4" placeholder="Start a private chat with..."/>
                            <datalist id="members">
                                {% for member in contacts %}
                                    <option value="{{member.name}} : {{member.id}}">
                                {% endfor %}
                            </datalist>
                            <button id="send_receiver" class="ping_em_btn create_project_btn centered btn btn-primary" type="submit" onclick="window.location.href='/{{organization.organization_id}}';">
                                Ping'em
                            </button>
                        </section>
                        <section class="ping_list">
                            <h3 class="ping_list_header">
                                <span class="header_label">All Pings</span>
                            </h3>
                            {% for chat_history in user_chats %}
                                <div>
                                    <a href="/{{organization.organization_id}}/circles/{{chat_history.thread_id}}">
                                        {% for member in chat_history.members %}
                                            {{ member.name }} 
                                        {% endfor %}
                                    </a>
                                </div>
                            {% endfor %}
                        </section>
                    </article>
                </section>
            </div>
        </div>
    </form>
    <div id="my_stuff" class="expanded_content">
        <div class="stuff_scroller">
            <section class="stuff_section">
                <ul class="unbullete">
                    <li>
                        <a class="list__action nav__my-stuff nav__my-stuff--assignments" href="/{{organization.organization_id}}/users/{{user.id}}/assignments">
                            My Assignments
                            <span>(2)</span>
                        </a>
                        <a class="list__action nav__my-stuff nav__my-stuff--schedules" href="/{{organization.organization_id}}/users/{{user.id}}/schedule">
                            My Schedule
                        </a>
                        <a class="list__action nav__my-stuff nav__my-stuff--activity" href="/{{organization.organization_id}}/users/{{user.id}}/activity">
                            My Recent Activity
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="all_project_panel">
        <header class="centered">
            <h1>Search Everything</h1>
        </header>
        <form id="search_form">
            <div class="search_bar">
                <input id="search-query" class="text_bar" type="text" name="q" placeholder="Search for...">
                <input type="reset" class="search__reset" value="Reset" tabindex="-1">
            </div>
            <div class="centered access_description sheet sheet--medium sheet--centered sheet--transparent submit-buttons">
                <button class="btn btn-primary create_project_btn" type="submit">Search for something</button>
            </div>
        </form>
        <div class="filterable-projects">
                <ul id="result_ul" class="results_ul">
                    
                </ul>
        </div>
    </div>
</body>
<script>
    var count1 = 0
    function show_form() {
        if (count1 == 0) {document.getElementById('search_ping').style.display = 'flex'; count1 += 1;}
        else {document.getElementById('search_ping').style.display = 'none'; count1 = 0;}
    }

    var count2 = 0
    function show_stuff() {
        if (count2 == 0) {document.getElementById('my_stuff').style.display = 'flex'; count2 += 1;}
        else {document.getElementById('my_stuff').style.display = 'none'; count2 = 0;}
    }

    const resultsTag = document.querySelector(".results_ul");

    function search() {
    // Get the search query from the input field
    const query = document.getElementById("search-query").value;
        console.log(query)
    // Send an HTTP request to the server to search for matching content
    fetch('/{{organization.organization_id}}/search/results?q='+query+'')
    .then(response => response.json())
    .then(data => {
      const resultsDiv = document.createElement("div");
      resultsDiv.setAttribute('id', 'search_result_div');
      resultsDiv.innerHTML = `<p>Search results for "${query}":</p>`;
      if (data.length > 0) {
        for (const result of data) {
          const link = document.createElement("a");
          link.textContent = result.content;
          link.href = result.url;
          resultsDiv.appendChild(link);
          resultsDiv.appendChild(document.createElement("br"));
        }
      } else {
        resultsDiv.innerHTML += "<p>No matching results found.</p>";
      }
      
      resultsTag.appendChild(resultsDiv);
      
    })
    .catch(error => {
    console.error(error);
    });
    }

    const form = document.getElementById("search_form");
    form.addEventListener("submit", function(event) {
    event.preventDefault();
    let result = document.getElementById('result_ul')
    result.innerHTML = ''
    search();
    });
</script>
</html>